{% extends 'base.html' %}


{% block content %}
<section class="container-fluid h-100 row align-items-center">
  <div class="col-12 col-md-6 col-lg-4 px-1">
    <h2 class="text-center">{{ title }}</h2>

    <div class="card">
      <div class="card-body">
        <form method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="text-center">
            <input type="submit" value="Submit">
          </div>
        </form>
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}