{%  extends 'base.html'  %}
{%load static %}
{%  block content  %}
<div class="container">
  <h1 class="text-center my-3"> Success Rate of the Crew</h1>
  <div class="flex_grandparent">
    <div class='flex_parent'>
      {%  for task in tasks  %}
        {%  include "powerbar.html" with task=task  %}
      {%  endfor  %}
    </div>
  </div>
  <div class="justify-content-center col-12 d-flex align-items-center">
    <img class='w-25' src='{% static "media/learn.jpeg" %}' alt='I do!'>&nbsp; &nbsp; &nbsp;
    <h1 class="text-center my-3"> Learners </h1>
  </div>
  <div class="row">
    {%  for learner in learners  %}
    <!-- <p>{{  learner  }}</p> -->
    <div class="col-lg-4 col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-body">
          <p>Name: {{  learner.first_name  }} {{  learner.last_name  }}</p>
          <p>Username: <a href="/learner/{{  learner.id  }}/">{{  learner.username  }}</a></p>
          <p>Age: {{  learner.age  }}</p>
          <p>Specialty Code: {{  learner.interests  }}</p>
          <p>Website: {{  learner.website  }}</p>
          <!--<p>Email: {{  learner.email  }}</p>
          
          To do: research how to translate the code in db into the value 
          <p>Is Coach?:  {{  learner.is_coach  }}</p>-->
          <br>
        </div>
      </div>
      </div>
      {%  endfor  %}
  </div>
</div>
{%  endblock  %}