{%  extends 'base.html'  %}
{%load static %}
{%  block content  %}
<br>
<div class="justify-content-center col-12 d-flex align-items-center">
  <img class='w-25' src='{% static "media/learn.jpeg" %}' alt='I do!'>&nbsp; &nbsp; &nbsp;
  <h1 class="text-center my-3"> Learners </h1>
</div>
<br>
<div class="container">
  <h1 class="text-center my-3"> Success Rate of the Crew</h1>
  <div class="flex_grandparent">
    <div class='flex_parent'>
      {%  for task in tasks  %}
        {%  include "powerbar.html" with task=task  %}
      {%  endfor  %}
    </div>
  </div>
  <br>
  <div class="row">
    {%  for learner in learners  %}
    <!-- <p>{{  learner  }}</p> -->
    <div class="col-lg-4 col-12 col-md-6 my-3">
      <div class="card">
        <div class="card-body">
          <p>Hello my name is <a href="/learner/{{  learner.id  }}/">
            {{ learner.first_name }} {{ learner.last_name }} 
          </a>
          and I am {{ learner.age }} years of age.</p>
     
      You can view my work <a href="{{  learner.website  }}/"> Here</a> <br>
      or contact me <a href="mailto:{{  learner.email  }}/">Here</a>
      <br>
      <br>
      <p> Also, I am interested in {{ learner.interests }} </p>
          <!--<p>Email: {{  learner.email  }}</p>
          
          To do: research how to translate the code in db into the value 
          <p>Is learner?:  {{  learner.is_learner  }}</p>-->
          <br>
        </div>
      </div>
      </div>
      {%  endfor  %}
  </div>
</div>
{%  endblock  %}