{% extends 'base.html' %}
{% block content %}

<br>
<div class="container ">
  <div class="row ">
    <div class=' my-3 text-center h1'>Messages</div>
    <div><button class="my-3 text-center  h5"><a href="/add_message/">Post</a> </button></div>

  </div>
  {% for message in messages %}
  <!--<div class="col-lg-4 col-12 col-md-6 my-3">-->
  <div class=" card my-2">
    <div class="card-body">
      <p>Posted By: <strong class='text-gray-dark '>{{ message.assigned_message|title }}</strong></p>
      <p>{{ message.text }}</p>
      <p>
        Posted: {{ message.time_date }}</p>
    </div>
  </div>


  {% endfor %}
</div>
{% endblock %}