{% extends 'base.html' %}


{% block content %}
<br>
<div class="container">
  <h1 class="text-center my-3"> Welcome!!! </h1>
  <div class="text-center">
    <h4>Below you'll find a list of Coaches and Learners and the overall efficiency of our crew!</h5>
    </div>
    <br>
  <h1 class="text-center my-3"> Success Rate of the Crew</h1>
  <div class="flex_grandparent">
    <div class='flex_parent'>
      {% for task in tasks %}
      {% include "powerbar.html" with task=task %}
      {% endfor %}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <h3 class="text-center">Coaches</h3>
      {% for coach in coaches %}
      <div class="card my-3">
        <div class="card-body">

          <p>Hello my name is <a href="/coach/{{  coach.id  }}/">
            {{ coach.first_name }} {{ coach.last_name }} 
          </a> and I am {{ coach.age }} years of age.</p>
    
          You can view my work <a href="{{  coach.website  }}/"> Here</a> <br>
          or contact me <a href="mailto:{{  coach.email  }}/">Here</a>
          <br>
          <br>
          <p> Also, I am interested in {{ coach.interests }} </p>
        </div>
      </div>
      {% endfor%}
    </div>
    <div class="col-6">
      <h3 class="text-center">Learners</h3>
      {% for learner in learners %}
      <div class="card my-3">
        <div class="card-body">
          <p>Hello my name is <a href="/learner/{{  learner.id  }}/">{{ learner.first_name }} {{ learner.last_name }} 
          </a> and I am {{ learner.age }} years of age.</p>
    
          You can view my work <a href="{{  learner.website  }}/"> Here</a> <br>
          or contact me <a href="mailto:{{  learner.email  }}/">Here</a>
          <br>
          <br>
          <p> Also, I am interested in {{ learner.interests }} </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}