{% extends 'base.html' %}


{% block content %}
<br>
<div class="container">
  <h1 class="text-center my-3"> Dashboard </h1>
  <br>
  <h3 class="text-center my-3"> Crew Efficiency </h3>

  <div class="flex_grandparent">
    <div class='flex_parent'>
      {% for task in tasks %}
      {% include "powerbar.html" with task=task %}
      {% endfor %}
    </div>
  </div>
  <br>




  <div class="row">
    <div class="col-6">
      <h3 class="text-center">Coaches</h3>
      {% for coach in coaches %}
      <div class="card my-3">
        <div class="card-body">
          <p>Hello my name is {{ coach.first_name }} {{ coach.last_name }} and I am {{ coach.age }} years of age.</p>
    
          You can view my work <a href="/coach/{{  coach.website  }}/"> Here</a> <br>
          or connect with me <a href="/coach/{{  coach.email  }}/">Here</a>
          <br>
          <br>
          <p> Also, I am interested in {{ coach.interests }} </p>
        </div>
      </div>
      {% endfor%}
    </div>
    <div class="col-6">
      <h3 class="text-center">Learners</h3>
      {% for learner in learners %}
      <div class="card my-3">
        <div class="card-body">
          <p>Hello my name is {{ learner.first_name }} {{ learner.last_name }} and I am {{ coach.age }} years of age.</p>
    
          You can view my work <a href="/coach/{{  coach.website  }}/"> Here</a> <br>
          or connect with me <a href="/coach/{{  coach.email  }}/">Here</a>
          <br>
          <br>
          <p> Also, I am interested in {{ coach.interests }} </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}