{%  extends 'base.html'  %}


{%  block content  %}
  <h1> iHero Dashboard </h1>
  <h3> Daily Tasks </h3>
  <h5>(All user list will be displayed when a user IS logged in)</h5>
  
  
  <h3>Coaches</h3>
  {%  for coach in coaches  %}
    <p>Name: {{  coach.first_name  }} {{  coach.last_name  }}</p>
    <p>Username: <a href="/coach/{{  coach.id  }}/">{{  coach.username  }}</a></p>
    <p>Email: {{  coach.email  }}</p>
    <p>Website: {{  coach.website  }}</p>
    <p>Age: {{  coach.age  }}</p>
    <p>Specialty Code: {{  coach.interests  }}</p>
    <!-- To do: research how to translate the code in db into the value -->
    <p>Is Coach?:  {{  coach.is_coach  }}</p>
    <br>
  {%  endfor%}

  <h3>Learners</h3>
  {%  for learner in learners  %}
    <p>Name: {{  learner.first_name  }} {{  learner.last_name  }}</p>
    <p>Username: <a href="/learner/{{  learner.id  }}/">{{  learner.username  }}</a></p>
    <p>Email: {{  learner.email  }}</p>
    <p>Website: {{  learner.website  }}</p>
    <p>Age: {{  learner.age  }}</p>
    <p>Specialty Code: {{  learner.interests  }}</p>
    <!-- To do: research how to translate the code in db into the value -->
    <p>Is Coach?:  {{  learner.is_coach  }}</p>
    <br>
  {%  endfor  %}
{%  endblock  %}